*.DS_Store
*.pdb
*.pri
*.bat
.vs
node_modules
obj
bin
.idea
projects
README-DEV.md
node_modules
demo
tests
src/www
doc
.nyc_output
webpack.config.js
tsconfig*.json
./*.tgz
generated
test
ci-config.json
.vscode